[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"


[packages]
psutil = "*"
pysocks = "*"
discord-py = {version = "~=1.5.1"}
requests = "*"
bs4 = "*"
apscheduler = "*"
python-dateutil = "*"
colorama = "*"
mysql-connector-python = "*"
networkx = "*"
numpy = "*"
beautifulsoup4 = "*"
cloc = "*"
html5lib = "*"
pickleshare = "*"
pillow = "*"
profanity-filter = "*"
spacy = "*"
webcolors = "*"

[dev-packages]
pre-commit = "*"
wheel = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
precommit = "pre-commit install"
