[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pre-commit = "*"
wheel = "*"

[packages]
psutil = "*"
pysocks = "*"
youtube-search = "*"
discord-py = {version = "~=1.5.1"}
requests = "*"
bs4 = "*"
lxml = "*"
aPRAW = "*"
APScheduler = "*"
python-dateutil = "*"
colorama = "*"
mysql-connector-python = "*"
networkx = "*"
numpy = "*"
beautifulsoup4 = "*"
cloc = "*"
html5lib = "*"
pickleshare = "*"
pillow = "*"
profanity-filter = "*"
spacy = "*"
webcolors = "*"


[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
lint = "python -m flake8"
precommit = "pre-commit install"
