aiofiles
aiohttp
aPRAW
async-timeout
attrs
beautifulsoup4
certifi
chardet
click
colorama
cycler
git+https://github.com/rapptz/discord.py
disputils
dnspython
duration
durations
html5lib
idna
IPC @ git+https://github.com/Seniatical/IPC@492e8d7c0fb6a0efe354ad65733600fac7ca72fd
kiwisolver
matplotlib
MechaK.py @ git+https://github.com/Mecha-Karen/MechaK.py
multidict
numpy
opencv-contrib-python
opencv-python
Pillow
praw
prawcore
psutil
pyfiglet
pymongo
pyparsing
python-dateutil
pytz
ReactivePy
requests
scipy
six
soupsieve
typing-extensions
tzlocal
update-checker
urllib3
vacefron.py
Wand
webencodings
websocket-client
yarl
git+https://github.com/Ext-Creators/discord-ext-ipc
TagScriptEngine
pydantic
