aiofiles~=0.7.0
aiohttp~=3.7.4.post0
aPRAW~=0.6.8a0
async-timeout
attrs
beautifulsoup4~=4.9.3
certifi
chardet
click
colorama~=0.4.4
cycler
discord.py
disputils~=0.1.3
dnspython
duration~=1.1.1
durations~=0.3.3
html5lib
idna
IPC @ git+https://github.com/Seniatical/IPC@492e8d7c0fb6a0efe354ad65733600fac7ca72fd
kiwisolver
matplotlib
MechaK.py @ git+https://github.com/Mecha-Karen/MechaK.py
multidict
numpy~=1.20.3
opencv-python~=4.5.2.52
Pillow~=8.2.0
praw
prawcore
psutil~=5.8.0
pyfiglet~=0.8.post1
pymongo~=3.11.4
pyparsing
python-dateutil
pytz
ReactivePy
requests~=2.25.1
scipy
six
soupsieve
typing-extensions
tzlocal
update-checker
urllib3
Wand
webencodings
websocket-client
yarl
